
<div class="container">
  <div class="row">
    <input name="search" [(ngModel)]="searchText">
    <button type="button" class="btn btn-outline-warning" (click)="search()">search</button>
    <div class="card" *ngFor="let p of emplois">
  <div class="card-body">
    <h5 class="card-title">{{p.titre}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button type="button" class="btn btn-primary" [disabled]="p.etat==false">Postuler</button>
  </div>
</div>

  </div>
  <button type="button" class="btn btn-primary" (click)="bilan()"  >Bilan</button>
  {{nbemplois}}

</div>
